table {
    border-width: 1px;
    border-style: solid;
    border-spacing: 0;
}

table td {
    border-width: 1px;
    border-style: solid;
    border-spacing: 0;
}

.hidden {
    display: none;
}

.float {
    float: left;
}

#log {
    margin-top: 20px;
    width: 500px;
    height: 500px;
    font-size: 11pt;
    color: gray;
}

.player0 {
    color: navy;
}

.player1 {
    color: deeppink;
}

.player2 {
    color: black;
}