table {
    border-width: 1px;
    border-style: solid;
    border-spacing: 0;
}

table td {
    border-width: 1px;
    border-style: solid;
    border-spacing: 0;
}

.hidden {
    display: none;
}

.float {
    float: left;
}